<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntroductoryTask</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
</head>
<body>
	<script src="https://bridge.paymill.com/"></script>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '253460525433755',
				cookie: true,
				xfbml: true,
				version: 'v3.0'
			});

			FB.AppEvents.logPageView();

			handleFacebookLogin = function (response) {
				if (response.status === 'connected') {
					if (location.pathname !== '/submitpayment') {
						var splashScreen = document.getElementById('splash-screen');
						splashScreen.style.display = 'block';
						location.href = '/submitpayment';
					}
				}
				else if (location.pathname !== '/') {
					location.href = '/';
				}
			};

			FB.Event.subscribe('auth.authResponseChange', handleFacebookLogin);
			FB.getLoginStatus(handleFacebookLogin);
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		PAYMILL_PUBLIC_KEY = "447027744769e040fce42c906af1f726";
	</script>
	<div id="splash-screen" style="display: none;">
		<h1>
			Simple Payment Web App
		</h1>
		<h2>
			loading...
		</h2>
	</div>

	@RenderBody()

	<script src="~/dist/vendor.js" asp-append-version="true"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
